#wrapper {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
}

header {
    color: #4aaaa5;
    background-color: #ffffff;
}

footer {
    color: #4aaaa5;
    background-color: #666666;
}